<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mot.Infrastructure.Properties.Settings.MoTConnectionString"
            connectionString="Data Source=MICHELGANNA-PC\SQLEXPRESS2014;Initial Catalog=MoT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>